.botao_personalizado {
  background-color: transparent;
  font-size: 16px;
  max-height: 39px;
  border: 2px solid #23A6F0;
  margin: 5px 0 20px 0;
  transition: .3s;
  cursor: pointer;
}

.botao_personalizado:hover {
  color: #fff !important;
  background-color: #23A6F0;
  font-size: 16px;
  max-height: 39px;
  transition: .3s;
}