.fale_conosco .container {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fale_conosco_title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.fale_conosco_inputs {
  width: 100%;
}

.fale_conosco .aviso {
  font-size: 12px;
  text-align: end;
  color: #ff0000;
  margin: -15px 0 5px 0;
}
